body {
    font-family: 'Arial', sans-serif;
    background: #000; 
    color: #fff; 
    margin: 0;
    padding: 20px;
    text-align: center; 
}

.navbar {
  background: #540000; 
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky; /* Added this line */
  top: 0; /* Added this line */
  z-index: 1000; /* Added this line to ensure navbar is above all other content */
}


.logo-link {
    display: inline-block; 
}

.logo-img {
    height: 30px;
}

.nav-links {
    align-items: center;
    gap: 20px; 
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-item {
    font-size: 20px; 
    font-weight: bold; 
    color: white; 
    text-decoration: none;
    padding: 5px 10px;
}


.nav-item:hover {

    border-radius: 5px; 
    color: #ff0043;
    
}

.logo-link{
    font-size: 20px;
    font-weight: bold; 
    color: white; 
    text-decoration: none; 
    padding: 5px 10px;

}

@media (max-width: 768px) {
    body {
        font-size: 14px; 
    }
  
    .navbar {
        padding: 5px 10px; 
    }
  
  }
  
  
  .button-hover{
    color: hsla(252.15686274509804, 100.00%, 70.00%, 1.00);
    transition: all 0.3s ease;
  
  }
  
  .button-hover:hover{
    color:white;
    transition: all 0.3s ease;
  
  }
  
  
  
  
  .navbar a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  
    transition: background-color 0.5s, backdrop-filter 0.5s; 
  }
  
  .homepage {
    background: #540000;
    margin-top: -18px;
  }
  
  .download {
    background-color: hsla(252.15686274509804, 100.00%, 70.00%, 1.00);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s; 
    color: white;
  
  }
  
  .download:hover {
    background-color: white;
    color: black;
  }
  
  .picture {
    height: 430px;
    height: 430px; /* Make sure the height is equal to the width for a circle */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  
  .image {
    min-width: 0;
    height: 80vh;
    padding-top: 100px;
  }
  
  .name {
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    color: white;
    margin-left: 100px;
    margin-bottom: 5px;
  }
  .position{
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    width: 1000px;
    color:#ff0043;
    line-height: 1.4;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 0;
  
  }
  
  .Intro {
    padding-right: 100px;
    line-height: 1.5;
    text-align: left;
    font-size: 18px;
    margin-left: 100px;
    width: 800px;
  
  
  }
  .body-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .picture{
    flex-shrink: 0;
    margin-left: 200px;
    width: 400px;
    margin-right: 100px;
  }
  .introduction {
    flex: 1;
    min-width: 0;
    height: 80vh;
    color: white;
    padding-top: 100px;
    line-height: 100px;
  
  }
  
  
  
  
  
  .github{
    width: 40px;
    padding-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    
  }
  .email{
    width: 40px;
  }
  
  .linkedin{
    width: 40px;
    padding-top: 20px;
  
  }
  
  .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 100px;
  
  }


  #animatedText {
    height: 50px; 
    display: flex;
    align-items: left; 
    justify-content: left;
}
/* end of first page */
/* second page  */
li {
  text-indent: -1.3em;
  padding-left: 1em;
  margin: 5px;
}
.body-center-2{
  background-color: #6A0000;
}

.second-title{
  margin: 50px;
  font-size: 50px;
  font-weight: bold;
}

.container{
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  border-color: white;
  display: flex;
  margin-top: 100px;
}
.item {
  width: auto;

  height: auto;

  padding: 1em;
  font-weight: 100;
  color: var(--clr-light);
  text-align: left;
  border-color: #ff0043;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.item-2{

  height: auto;

  padding: 1em;
  font-weight: 100;
  color: var(--clr-light);
  text-align: left;
  align-items: center;
  justify-content: center;
}



.right-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.left-container{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}

.title-date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.experience-title{
  font-size: 25px;
  font-weight: bold;

}

.experience-date{
  font-style: italic;
}

.red-text{
  color: #ff0043;
}


.exp-logo{
  width: 250px;
  height: auto;
}

#ucsblogo {
  position: relative; 
  top: 40px; 
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
  }
  .navbar {
      padding: 5px 10px;
  }
  
}

@media only screen and (max-width: 600px) {
  .navbar .nav-links {
      flex-direction: column;
      padding: 0;
  }

  .nav-item {
      font-size: 16px;
      padding: 8px;
  }

  .name, .position, .Intro {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .body-center {
      flex-direction: column;
  }

  .picture {
      width: 90%;
      margin: 0 auto;
  }

  .container {
      flex-direction: column;
      width: 100%;
  }

  .left-container, .right-container {
      width: 100%;
  }

  .exp-logo {
      width: 80%;
      margin: 0 auto;
  }

  .item, .item-1, .item-2 {
      text-align: center;
  }

  .icons {
      flex-direction: row;
      justify-content: center;
      padding-left: 0;
      padding-top: 10px; 
  }

  .github, .email, .linkedin {
      padding-top: 0; 
      margin: 0 10px; 
  }
}

/* end of second page */

/* start of third page  */


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure the container spans the full width */
}
.project-item {
  width: 60%;
  height: auto;
  padding: 1em;
  font-weight: 100;
  color: var(--clr-light);
  text-align: left;
  border: 2px solid #ff0043; /* Your red accent color */
  background-color: #7A0C0C; /* A darker shade of red for the item background */
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Optionally, if you want to add a hover effect to make the shadow more pronounced: */
.project-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow for hover effect */
}



.fortaimg{
  height: 250px;
  width: 250px;
}

.experience-title.projects{
  margin-top: -15px;
  padding-left: 20px;
  
}

.experience-date.projects{
  margin-top: -15px;


}

.project-description{
  padding-left: 20px;
  line-height: 1.5;
}

/* #project-title-gauchoride{
  margin-top: -66px;
}

#project-date-gauchoride{
  margin-top: -60px;
}
 */


 .body-center-3{
   background-color: #540000;

 }



 .forta-img{
   height: 19px;

 }

 .forta-text{
   color: #bd34eb;
 }

 .qa-text{
   color: gray;
 }

 .magna-img{
   height: 25px;
 }

 .blue-text{
   color: #34d2eb;
   
 }

 .ucsb-img{
   height: 26px;
 }

.view-project-link {
  text-decoration: underline;
  cursor: pointer; 
  color: inherit; 
  margin-top: 0.5em; 
  display: block;
  text-align: center; 
  margin-right: 100px;
}

.red-text {
  color: red;
}

.carousel-container {
  width: 60%; 
  margin: auto; 
  position: relative; 
}
.skill-carousel {
  overflow: hidden;
  width: 100%; /* This will now be 100% of the .carousel-container width */
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
  height: 320px; /* Set the height to be slightly larger than the images to accommodate them */
}

.carousel-track {
  display: flex;
  position: left; /* If you want your track to be absolutely positioned within .carousel-container */
  left: 0; /* Aligns the track to the left edge of .carousel-container */
  animation: scroll-skills 5s linear infinite;
}

.skill {
  flex: 0 0 auto; /* Allow each skill to size itself based on the image size */
  max-width: 20%; /* Adjust this to change how much of the carousel each image takes up */
  margin: 5px; /* Adds space around each image */
}

img.skill {
  width: auto; /* Maintain the aspect ratio */
  height: 300px; /* Set a fixed height to make all images the same size */
  object-fit: contain; /* Ensure the images are fully visible without being cropped */
}
@keyframes scroll-skills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjusted to account for the doubled content */
  }
}

/* CSS for smooth scrolling */
html {
  scroll-behavior: smooth;
}
