
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #F5F5F5;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 20px 10%; */
  background: #F5F5F5;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: default;
}

.v-logo{
  height: 100px;
}

.navbar a {
  font-size: 24px;
  color: #0A0A0A;
  text-decoration: none;
  font-weight: 500;
  padding:30px 50px;
  transition: background-color 0.3s ease;


}

.navbar a:hover{
  background-color: #FF6A00;
  color: #F5F5F5;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  justify-content: flex-end; /* This will push your links to the right */
  width: 100%; /* Ensure the navbar links take up the remaining space */
}





.container{
  display: flex;
  flex-direction: column;
}



.position{
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.intro-container{
  display: flex;
  flex-direction: row; /* changed from column to row */
  justify-content: center;
  align-items: center; /* This will vertically center the content in the viewport */
  height: 100vh; /* This will make the container take up the full viewport height */
}

.intro-left-container{
  width: 60%;
  text-align: left; /* This will align the text to the left */
  padding-left: 10%; /* Adjust as needed to move text a bit more from the left edge */
  opacity: 0;
}

.intro-right-container{
  width: 40%;
  display: flex;
  justify-content: center; /* This will horizontally center the image in its half of the container */
  padding-right: 100px;
}

.profile-picture{
  max-width: 100%;
  height: auto;
  border-radius: 50%; 
  opacity: 0;
  width: 400px;


}
.intro{
  display: block;
  font-size: 50px;
  color: #0A0A0A;
  margin-bottom: 20px; /* Adjust as necessary for spacing */
}
#animatedText{
  font-size: 30px;
  color: #434343;
  margin-bottom: 70px; /* Adjust as necessary for spacing */
  height: 1px;
}
.intro-name{
  display: block;
  font-size: 60px;
  color: #0A0A0A;
  margin-bottom: 20px; /* Adjust as necessary for spacing */
}

.connect{
  color: #434343; /* Light grey color for visibility */
  margin-bottom: 20px; /* Adjust as necessary for spacing */
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: left; /* This will center the icons */
  gap: 50px; /* This adds space between the icons */
}

.socials{
  height: 40px;
}



@media (max-width: 768px) {
  .intro-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .intro-left-container, .intro-right-container {
    flex: none;
    width: 100%;
    align-items: center;
    text-align: center;

  }
  .profile-picture {
    width: 300px; /* Smaller size for smaller screens */
    height: 300px; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image */
  }
  .icons {
    justify-content: space-around; /* Space out icons evenly */
    margin-top: 20px; /* Add some space above the icons */
  }
}




/* end of first page */
/* second page  */
li {
  text-indent: -1.3em;
  padding-left: 1em;
  margin: 5px;
}
.body-center-2{
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.second-title{
  margin-top: 7%;
  padding-left: 5%;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 100px;
  animation: sideslide 0.5s linear forwards;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes sideslide {
  0%{ transform: translateX(-50px); opacity:0;}
  100%{ transform: translateX(0); opacity: 1;}
  
}

.container{
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  margin-top: 0;
  justify-content: space-around;
  border-color: white;
  display: flex;
  
}
.item {
  width: auto;

  height: auto;

  padding: 1em;
  font-weight: 100;
  color: var(--clr-light);
  text-align: left;
  border-color: #ff0043;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.item-2{

  height: auto;

  padding: 1em;
  font-weight: 100;
  color: var(--clr-light);
  text-align: left;
  align-items: center;
  justify-content: center;
}



.right-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: space-around;
}

.left-container{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  justify-content: space-around;
  margin-right: 30px;

}

.title-date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.experience-title{
  font-size: 25px;
  font-weight: bold;

}

.experience-date{
  font-style: italic;
}

.red-text{
  color: #FF6A00;
}


.exp-logo{
  width: 250px;
  height: auto;
}

#ucsblogo {
  position: relative; 
  top: 40px; 
}
/* 
@media (max-width: 768px) {
  body {
      font-size: 14px;
  }
  .navbar {
      padding: 5px 10px;
  }
  
} */

@media only screen and (max-width: 600px) {
  .navbar .nav-links {
      flex-direction: column;
      padding: 0;
  }

  .nav-item {
      font-size: 16px;
      padding: 8px;
  }

  .name, .position, .Intro {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
  }

  .body-center {
      flex-direction: column;
  }

  .picture {
      width: 90%;
      margin: 0 auto;
  }

  .container {
      flex-direction: column;
      width: 100%;
  }

  .left-container, .right-container {
      width: 100%;
  }

  .exp-logo {
      width: 80%;
      margin: 0 auto;
  }

  .item, .item-1, .item-2 {
      text-align: center;
  }

  .icons {
      flex-direction: row;
      justify-content: center;
      padding-left: 0;
      padding-top: 10px; 
  }

  .github, .email, .linkedin {
      padding-top: 0; 
      margin: 0 10px; 
  }
}

.navbar-links a, .logo{
  display: inline-block;
  animation: slideDown 1s ease forwards;
  opacity: 0; /* Initially hide the links */
  
}

@keyframes slideDown {
  from { transform: translateY(-100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.intro-left-container{
  animation: slideSide 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes slideSide{
  from {transform: translateX(-100px); opacity:0;}
  to {transform: translateY(0); opacity: 1;}
}

.profile-picture{
  animation: slideUp 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;

}

@keyframes slideUp{
  from {transform: translateX(100px); opacity: 0;}
  to {transform: translateX(0);opacity: 1;}
}

/* end of second page */

/* start of third page  */


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}
.project-item {
  width: 60%;
  height: auto;
  padding: 1em;
  font-weight: 100;
  color: var(--clr-light);
  text-align: left;
  border: 2px solid #ff0043; 
  background-color: #7A0C0C; 
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.project-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}



.fortaimg{
  height: 250px;
  width: 250px;
}

.experience-title.projects{
  margin-top: -15px;
  padding-left: 20px;
  
}

.experience-date.projects{
  margin-top: -15px;


}

.project-description{
  padding-left: 20px;
  line-height: 1.5;
  
}






 .forta-text{
   color: #bd34eb;
 }

 .qa-text{
   color: gray;
 }

 .magna-img{
   height: 25px;
 }

 .blue-text{
   color: #34d2eb;
   
 }

 .ucsb-img{
   height: 26px;
 }

.view-project-link {
  cursor: pointer; 
  color: inherit; 
  margin-top: 0.5em; 
  display: inline-block;
  text-align: center; 
  margin-right: 100px;
  border-radius: 10px;
  border: 2px solid #FFFFFF; /* This sets a white border 2 pixels thick */
  padding: 8px 16px; /* This adds some padding inside the button, making the border look better */
  background-color: transparent; /* This makes the background transparent */
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  margin-left: 210px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.view-project-link:hover {
  background-color: #FFFFFF; /* Change background to white on hover */
  color: #000000; /* Change text color to black on hover */
}
.red-text {
  color: #FF6A00;
}


/* carousal start */

.carousel-container {
  width: 60%; 
  margin: auto; 
  position: relative; 
}
.skill-carousel {
  overflow: hidden;
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 320px; 
}

.carousel-track {
  display: flex;
  position: left; 
  left: 0; 
  animation: scroll-skills 8s linear infinite;
}

.skill {
  flex: 0 0 auto; 
  max-width: 20%;
  margin: 30px; 
}

img.skill {
  width: auto; 
  height: 200px; 
  object-fit: contain; 
}
@keyframes scroll-skills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-260.9%); 
  }
}

html {
  scroll-behavior: smooth;
}


/* ---------second version --------- */


.body-center-2{

  color: black;
}




@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

.experience-logo {
  position: absolute;
  right: -26px;
  top: 32px;
  z-index: 10; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.right-container img {
  left: -30px;
}


.text-box{
  padding: 20px 30px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline-timeline{
  padding-right: 30px;
}

.left-container{
  left: 0;
  z-index: 100;
}

.right-container{
  left: 82%;
  z-index: 100;
}

.experience-logo{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  z-index: 100;

}



.text-box h2{
  font-weight: 600;
}

.text-box small{
  display: inline-block;
  margin-bottom: 15px;

}

.left-container-arrow{
  height: 0;
  width: 0;
  position:absolute;
  top:28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  right: -15px;

}

.right-container-arrow{
  height: 0;
  width: 0;
  position:absolute;
  top:28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: -15px;

}



@media screen and (max-width: 600px){

  .timeline{
    margin: 50px auto;
  }

  .timeline::after{
    left: 31px;

  }

  .container{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  
  .text-box{
    font-size: 13px  }
  
  .text-box small{
    margin-bottom: 10px;
  }

  .right-container{
    left: 0;
  }

  .left-container img, .right-container img{
    left:10px;
  }

  .left-container-arrow, .right-container-arrow{
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}


.timeline-location{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.experience-company{
  padding: 10px;
}

.timeline-skills{
  height:50px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline {
  right: 330px;

  position: relative;
  max-width: 800px;
  margin: 0 auto; /* Center the timeline */
  opacity: 1;
  
}



.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: 370px;

  transform: translateX(-50%); /* Center the line */
  animation: moveline 3s linear forwards;
  opacity: 1;
  z-index: 0;
  animation-delay: 1.5s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes movedown {
  0% {
    opacity: 0; /* Start with half opacity */
    transform: translateY(-30px);
  }
  100% {
    opacity: 1; /* Fade in to full opacity */
    transform: translateY(0px);
  }
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 70%;
  height: 30%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

.container:nth-child(1){
  animation-delay: 1.5s;
}

.container:nth-child(2){
  animation-delay: 2.5s;
}

.container:nth-child(3){
  animation-delay: 3.5s;
}

/* end of second page */
/* start of third page */


.projects-skills{
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  margin-top: 10%;
  margin-bottom: 10px;


}

/* .third-title {
  margin-top: 7%;
  padding-left: 5%;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  animation: sideslide 0.5s linear forwards;
  opacity: 0;
  animation-delay: 1s;
} */

.projects-sort{
  font-family: Roboto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.4rem;
  background-color: #333333;
  margin: 12px;
  height: 32px;
  min-width: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.projects-sort:hover{
  background-color: white;
  color: black;
}


.body-center-3{
  background-color: #F5F5F5;
  margin-top: 150px;
  padding-bottom: 100px;
}

.projects-container{
  margin-left: 10%;
  margin-top: 50px;
  display: flex;
  
}

.project-box{
  border: 1px solid white;
  height: 350px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  background-color: white;
  color: black;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.logo-name{
  display: flex;
  flex-direction: row;


}

.project-name{
  color: black;
  font-size: 40px;
  margin-top: 13px;
  margin-left: 80px;

}
.project-img{
  height: 70px;
  margin: 10px;
  margin-top: 20px;
  border: 1px solid white;
  margin-left: 30px;
  border-radius: 10px;
  
}

.project-short-description{
  color: black;
  margin-left: 30px;
  font-size: 20px;
  margin-right: 30px;
  margin-top: 20px;

}

#experience-skills{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;

  
}

.timeline-skills{
  background-color: white;
  margin-left: 20px;
  height: 50px;

}

.project-company-img{
  height: 70px;
  position: absolute;
  border: 1px solid;
  margin-top: 180px;
  border-radius: 100px;
  cursor: pointer;
  object-fit: cover;

}

.project-company-name{
  color: #434343;
  position: absolute;
  
  margin-top: 370px;
  margin-left: 100px;
  font-size: 18px;
  width: 530px;
  font-weight: 700;

}



.project-company-timeline{
  color: #AAAAAA;
  position: absolute;
  margin-top: 400px;
  margin-left: 100px;

  font-size: 18px;
  width: 530px;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px 10px; 
  margin: 50px 5%; 
  grid-row-gap: 140px;

}

.project-box{
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}

#magna{
  width: 70px;
  height: 70px;
  overflow: hidden;
}

#fh-name{
  margin-left: 40px;
}

#slideside-project{
  animation: sideslide 0.5s linear forwards;
  opacity: 0;

}

#slideside-project:nth-child(1){animation-delay: 1.6s;}
#slideside-project:nth-child(2){animation-delay: 2.0s;}
#slideside-project:nth-child(3){animation-delay: 2.4s;}
#slideside-project:nth-child(4){animation-delay: 3s;}



/* end of third page */
/* start of fourth page */

.skills-heading{
  margin-top: 150px;
  font-size: 30px;
  color: black;
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-left: 100px;
  
}
.skill-item{
  height: 150px;
  width: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
  animation: sideslide 0.5s linear forwards;
  opacity: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  
}



.skill-item:nth-child(1) { animation-delay: 1.6s; }
.skill-item:nth-child(2) { animation-delay: 2.0s; }
.skill-item:nth-child(3) { animation-delay: 2.4s; }
.skill-item:nth-child(4) { animation-delay: 2.8s; }
.skill-item:nth-child(5) { animation-delay: 3.2s; }
.skill-item:nth-child(6) { animation-delay: 3.6s; }
.skill-item:nth-child(7) { animation-delay: 4s; }
.skill-item:nth-child(8) { animation-delay: 4.4s; }
.skill-item:nth-child(9) { animation-delay: 4.8s; }
.skill-item:nth-child(10) { animation-delay: 5.2s; }
.skill-item:nth-child(11) { animation-delay: 5.6s; }
.skill-item:nth-child(12) { animation-delay: 6s; }

@keyframes sideslide {
  0%{ transform: translateX(-50px); opacity:0;}
  100%{ transform: translateX(0); opacity: 1;}
  
}